.div{
    display: flex;
    background-color: rgb(200, 189, 189);
    width: 105%;
}
@media screen and (min-width: 310px) and (max-width: 620px) {
    .div {
      flex-direction: column;
      width: 217%;
    }
  }